# =====================
# MakeFile
# =====================

build/

*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.bin
*.elf

# =====================
# CubeMX
# =====================
*.mxproject
*.tmp
*.log

# =====================
# System / Editor
# =====================
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db